:root {
  --main-side-color: linear-gradient(black, rgb(180, 61, 164), black);
  --sec: black;
}

/* load in :root class from js? */


body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.main-page {
  display: grid;

  position: relative;
  grid-template-areas: 
   "ls header rs"  
    "ls quote rs"
    "ls bio rs"
    "ls projects rs"
    "ls resume rs"
    "ls contact rs"
    ;
  grid-template-columns: 1fr 87vw 1fr;
  grid-auto-rows: max-content;

  justify-items: center;


}

.ls, .rs{
  grid-area: ls;
  background: var(--main-side-color);
  width: 100%;
}

.rs {
  grid-area: rs;
}

.header {
  grid-area: header;
  width: 100%;
  display: grid;
  justify-items: left;
  align-items: center;
  font-size: 4em;
}

.header h1 {
  padding-left: 10%;
  margin: 0;
}

.header h2 {
  padding-left: 10%;
  font-size: .5em;
  margin: 0;
}

.bar {
  width: 250px;
  height: 30px;
  background-color: var(--main-dark-color);
  margin: 20px 0 0 12%;

}

.quote {
  margin: 80vh 0;
  font-size: 3em;
}

.quote h3 {
  margin: 0 18%;
  text-align: center;

}

.quote h4 {
  margin-left: 60%;
  font-family: 'Lato', sans-serif;
  font-size: .8em;
}


.projects {
  grid-area: projects;

  display: grid;
  grid-auto-rows: 150vh;
  margin-bottom: 50vh;
}

.single-project {
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.single-project .intro {
  font-size: 1.6em;
  grid-row: 1;
  padding: 0 5vw;
}

.single-project iframe {
  grid-row: 2;
  z-index: 100;
  height: 100vh;
  overflow: hidden;
}


.bio {
  height: 105vh;
  width: 80%;
  font-size: 1.9em;
  text-align: center;
}





/* //// Navigator */

.navigator {
  position: fixed;
  left: 7vw;
  top: 20px;

  width: 100px;
  height: 100px;

  /* animation: fadein 5s ease-in; */
  
  box-sizing: border-box;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.full-menu {
  padding: 0;
  margin: 0;
  padding-right: 10px;
  background: rgba(255, 255, 255, 0.5);
}

.full-menu li {
  list-style: none;
  border-bottom: 2px solid;
  border-color: var(--sec);
  border-left: 4px solid;
  
  font-size: 1.4em;
  width: max-content;

  padding-left: 5px;
}

.full-menu li a {
  text-decoration: none;
  color: black;
}


.closed-menu {
  width:30px;
  height: 50px;

  border: solid black 3px;
  border-left-width: 6px;
  border-bottom-width: 5px;
}

@media (max-width: 610px) {
  .header {
    font-size: 10vw;
  }

  .quote {
    font-size:2em;
  }
}
