.contact {
  grid-area: contact;

  height: 150vh;
  width: 80%;

  display: grid;
  justify-content: center;
  align-items: center;

  grid-template-columns: 1fr .4fr 1fr;
  grid-template-areas: " . mid-gap ."
  /* grid-gap: ; */

}

.contact::after {
  content: '';
  grid-area: mid-gap;
  min-width: 100px;

}


.contact-link {
  border: 5px solid black;
  width: 90%;
  height: 300px;
  display: grid;
  justify-content: center;
  align-items: center;

  color: black;
  font-size: 1.5em;
}

.contact-link:hover {
  background: black;
  color: white;

  position: relative
}

.contact-link:hover::after {
  content: "";
  position: absolute;
  border: 5px solid white;
  left: 5%;
  width: 90%;
  height: 90%;
  box-sizing: border-box
}


@media (max-width: 1000px) {
  .contact {
    margin-top: 50vh;
    display: initial;
  }

  .contact-link{
    margin-bottom: 10vh;
    width: initial;
  }
}